@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var homePage = CurrentPage.Site();
    var selection = homePage.Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children().Where("projectStatus.Contains(\"25\")").OrderBy("CreateDate desc").Take(3);
}
<ul>
    @foreach (var item in selection)
    {
        var isProtectedChild = umbraco.library.IsProtected(item.id, item.path);
        var loginAccessChild = umbraco.library.IsProtected(item.id, item.path)
        && umbraco.library.HasAccess(item.id, item.path);

        if (!isProtectedChild || loginAccessChild)
        {
            <section class="section">
                <div class="container">
                    <div class="heading">
                        <h1 class="title"><a href="@item.Url">@item.Name</a></h1>
                    </div>
                </div>
            </section>
            <hr />
        }
    }
</ul>
