@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@{
            var mediaItem = Umbraco.Media(Umbraco.Field("articleImage").ToHtmlString());
            var file = mediaItem.UmbracoFile;
}
<div class="column">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="@file" />
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">@Umbraco.Field("articleTitle")</p>
                </div>
            </div>

            <div class="content">
                @Umbraco.Field("articleContent")
            </div>
        </div>
    </div>
</div>